*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.main {
  position: relative;
  background-color: #F7EFE1;
}

.videoColibri {
  position: fixed;
  top: 0;
  left: 0;
  background: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.videoColibriMovil{
  display: none;
}

.hero {
  position: relative;
  display: grid;
  place-items: center;
  width: 100%;
  height: 100vh;
z-index: 9;
}

.videoHero {
  width: 100vw;
  height: 100vh;
  position: absolute;
  object-fit: cover;
  z-index: 1;
}

.videoHeroMovil{
  display: none;
}

h1 {
  color: black;
  position: absolute;
}

.fade-text {
  transition: opacity 1s ease-in-out;
}

.fade-in {
  opacity: 1;
  z-index: 9;
}

.fade-out {
  opacity: 0;
}

.contenor-nubeMouse{
  width: 100%;
  display: grid;
  place-items: center;
}

.nube {
  background-image: url(./assets/nube.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 99999;
  width: 100vw;
  height: 30vh;
}

.mouseGifBlanco{
  position: absolute;
  top: 12%;
  width: 70px;
  z-index: 99999;
}

.mouseGif{
  display: none;
}

/* Section #1 */

.section1 {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  background: transparent;
  z-index: 9;
}

.section1 img.hojas_derecha1 {
  width: 90%;
  height: auto;
  right: 10px;
  top: 20%;
  height: auto;
  position: absolute;
}

.section1 img.personas {
  border-radius: 0 8vw 8vw 8vw !important;
  width: 550px;
  height: auto;
  margin-top: 45%;
}

/* Section #2 */

.section2 {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  background: transparent;
  z-index: 9;
}

.section2 .bloque{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: end;
  position: absolute;
}

.section2 img.hojas_derecha2 {
  width: 60%;
  height: auto;
  position: absolute;
  right: 0;
  top: 30%;
}

.section2 img.hojas_abajo {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.section2 small {
  font-size: 60px;
}
.section2 p {
  font-size: 40px;
}
.section2 .bloq {
  background-color: #737b1fe1;
  border-radius: 0 8vw 8vw 8vw !important;
  padding: 80px;
  width: 850px;
  height: auto;
  display: grid;
  place-items: center;
  font-size: 25px;
  color: #f0e4ba;
  margin: 0;
}

/* Section #3 */

.section3 {
  position: relative;
  display: grid;
  place-items: center;
  width: 100vw;
  min-height: 100vh;
  background-color: #666e0a;
  color: #f0e4ba;
  text-align: center;
  z-index: 9;
}
.section3 h3,
h2 {
  line-height: 50px;
}
.section3 h3,
p {
  color: #dad9be;
  max-width: 700px;
  font-size: 25px;
}

.section3 h3 {
  text-transform: uppercase;
}

.section3 h2 {
  font-size: 35px;
  margin-bottom: 20px;
}

article {
  margin: 100px 0;
}

/* **** */

.section3_1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.section3_1 div {
  width: 50%;
  height: auto;
  display: flex;
}

.section3_1_img img {
  width: 100%;
  height: 550px;
  max-width: 900px;
  border-radius: 0 60px 60px 0;
}

.section3_1 article {
  padding: 30px;
}

.section3_1 button {
  background-color: transparent;
  border: 1px solid #f0e4ba;
  color: #f0e4ba;
  border-radius: 7px;
  padding: 15px 55px;
  font-size: 22px;
  margin-top: 30px;
}

/* **** */

.section3_2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.section3_2 div {
  width: 50%;
  height: auto;
}

.section3_2_img img {
  width: 100%;
  height: 550px;
  border-radius: 60px 0px 0px 60px;
}

.section3_2 article {
  padding: 30px;
}

.section3_2 button {
  background-color: transparent;
  border: 1px solid #f0e4ba;
  color: #f0e4ba;
  border-radius: 7px;
  padding: 15px 55px;
  font-size: 22px;
  margin-top: 30px;
}

.section3_1_div, .section3_2_div{
  width: 50% !important;
}

@media screen and (max-width:600px){
  .hero {
    position: relative;
    display: grid;
    place-items: baseline;
    width: 100%;
    height: 48vh;
  z-index: 9;
  }
  .titulo{
    width: 100%;
    height: 40vh;
    display: grid;
    place-items: center;
  }
  .videoHeroMovil {
    display: block;
    width: 100vw;
    height: auto;
    position: absolute;
    object-fit: cover;
    z-index: 1;
  }
  
  .videoHero{
    display: none;
  }

  .videoColibri{
    display: none;
  }

  .videoColibriMovil {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    background: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
  }

  .mouseGif{
    position: absolute;
    display: block;
    top: 10.5%;
    width: 70px;
    z-index: 9;
  }

  .mouseGifBlanco{
    display: none;
  }

  

  /* Section #1 */

  .section1, .section2{
    min-height: 55vh;
  }

  .section1 img.personas {
    border-radius: 0 8vw 8vw 8vw !important;
    width: 350px;
    height: auto;
    margin-top: 45%;
    margin-left: 3%;
  }

  .section1 img.hojas_derecha1 {
    width: 100%;
    height: auto;
    right: 0px;
    top: 20%;
    height: auto;
    position: absolute;
  }

  .bloque{
    top: -4%
  }

  /* Section #2 */

  .section2 small {
    font-size: 40px;
  }
  .section2 p {
    font-size: 25px;
  }
  .section2 .bloq {
    background-color: #737b1fe1;
    border-radius: 0 8vw 8vw 8vw !important;
    padding: 40px;
    width: 370px;
    height: auto;
    display: grid;
    place-items: center;
    color: #f0e4ba;
    margin: 0;
  }

  .section2 img.hojas_abajo {
    position: absolute;
    bottom: 0;
    width: 150%;
    margin-bottom: -1px;
}

/* Section #3 */

.section3 article{
  padding: 0 15px;
}

.section3 h3,
h2 {
  line-height: 40px;
}
.section3 h3,
p {
  color: #dad9be;
  max-width: 700px;
  font-size: 18px;
}

.section3 h3 {
  text-transform: uppercase;
}

.section3 h2 {
  font-size: 35px;
  margin-bottom: 20px;
}

article {
  margin: 100px 0;
}

.section3_1 {
  display: block;
}

.section3_1 div{
  width: 100%;
}

.section3_1_img img {
  width: 90%;
  height: auto;
  max-width: 900px;
  border-radius: 0 60px 60px 0;
}

.section3_1_div{
  width: 100% !important;
}

.section3_2 {
  display: flex;
  flex-direction: column-reverse;
}

.section3_2 div{
  width: 100%;
}

.section3_2_img img {
  width: 90%;
  margin-left: 10%;
  height: 278px;
  max-width: 900px;
  border-radius: 60px 0 0 60px ;
}

.section3_2_div{
  width: 100% !important;
}

}