@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

/* Uso en CSS:
font-family: 'Playfair Display', serif;
font-family: 'Lato', sans-serif;
*/

:root {
  --verdeBg: #666e0a;
  --naranjaBg: #f4cb84;
  --dorado: #c0a46f;
  --negroFooter: #0e0e0d;
  --sb-size: 3px;
  --Playfair: "Playfair Display", serif;
  --Lato: "Lato", sans-serif;
}

::selection { background: var(--naranjaBg) }

html {
  scroll-behavior: smooth;
}

*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Lato", sans-serif;
}

body {
  --sb-track-color: var(--naranjaBg);
  --sb-thumb-color: var(--verdeBg);
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

.main {
  position: relative;
  background-color: #f7efe1;
}

/* Fuente para el hero */
.hero-text {
  font-family: var(--Playfair);
  font-style: italic;
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  width: 50%;
}

/* Fuentes para el contenido */
.section-title {
  font-family: var(--Playfair);
  font-size: 2.5rem;
  font-weight: 700;
}

.content-text {
  font-family: var(--Lato);
  font-size: 1.125rem;
  font-weight: 400;
}

.videoColibri {
  position: fixed;
  top: 0;
  left: 0;
  background: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.videoColibriMovil {
  display: none;
}

.hero {
  position: relative;
  display: grid;
  place-items: center;
  width: 100%;
  height: 100vh;
  z-index: 9;
}

.videoHero {
  width: 100vw;
  height: 100vh;
  position: absolute;
  object-fit: cover;
  z-index: 1;
}

.videoHeroMovil {
  display: none;
}

h1 {
  color: black;
}

.fade-text {
  transition: opacity 1s ease-in-out;
}

.fade-in {
  opacity: 1;
  z-index: 9;
}

.fade-out {
  opacity: 0;
}

.contenor-nubeMouse {
  width: 100%;
  display: grid;
  place-items: center;
}

.titulo {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  gap: 80px;
  align-items: center;
}
.nube {
  background-image: url(./assets/nube.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 9;
  width: 100vw;
  height: 30vh;
}

.mouseGifBlanco {
  position: absolute;
  top: 12%;
  width: 70px;
  z-index: 9;
}

.mouseGif {
  display: none;
}

/* Section #1 */

.section1 {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  background: transparent;
  z-index: 9;
}

.section1 img.hojas_derecha1 {
  width: 90%;
  height: auto;
  right: 10px;
  top: 20%;
  height: auto;
  position: absolute;
}

.section1 img.personas {
  border-radius: 0 8vw 8vw 8vw !important;
  width: 550px;
  height: auto;
  margin-top: 45%;
}

/* Section #2 */

.section2 {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  background: transparent;
  z-index: 9;
  overflow: hidden;
}

.section2 .bloque {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: start;
  position: absolute;
}

.section2 img.hojas_derecha2 {
  width: 60%;
  height: auto;
  position: absolute;
  right: 0;
  top: 30%;
}

.section2 img.hojas_abajo {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.section2 small {
  font-size: 60px;
}
.section2 p {
  font-size: 40px;
}
.section2 .bloq {
  background-color: #737b1fe1;
  border-radius: 0 8vw 8vw 8vw !important;
  padding: 80px;
  width: 100%;
  height: auto;
  display: grid;
  place-items: center;
  font-size: 25px;
  color: #f0e4ba;
  margin: 0;
}

/* Section #3 */

.section3 {
  position: relative;
  display: grid;
  place-items: center;
  width: 100vw;
  min-height: 100vh;
  background-color: #666e0a;
  color: #f0e4ba;
  text-align: center;
  z-index: 9;
}
.section3 h3,
h2 {
  line-height: 50px;
}
.section3 h3,
p {
  color: #dad9be;
  max-width: 700px;
  font-size: 25px;
}

.section3 h3 {
  text-transform: uppercase;
}

.section3 h2 {
  font-size: 35px;
  margin-bottom: 20px;
}

article {
  margin: 100px 0;
}

/* **** */

.section3_1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.section3_1 div {
  width: 50%;
  height: auto;
  display: flex;
}

.section3_1_img img {
  width: 100%;
  height: 550px;
  max-width: 900px;
  border-radius: 0 60px 60px 0;
}

.section3_1 article {
  padding: 30px;
}

.section3_1 button {
  background-color: transparent;
  border: 1px solid #f0e4ba;
  color: #f0e4ba;
  border-radius: 7px;
  padding: 15px 55px;
  font-size: 22px;
  margin-top: 30px;
}

/* **** */

.section3_2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.section3_2 div {
  width: 50%;
  height: auto;
}

.section3_2_img img {
  width: 100%;
  height: 550px;
  border-radius: 60px 0px 0px 60px;
}

.section3_2 article {
  padding: 30px;
}

.section3_2 button {
  background-color: transparent;
  border: 1px solid #f0e4ba;
  color: #f0e4ba;
  border-radius: 7px;
  padding: 15px 55px;
  font-size: 22px;
  margin-top: 30px;
}

.section3_1_div,
.section3_2_div {
  width: 50% !important;
}

.footer {
  width: 100%;
  height: 80vh;
}

/* MApa SVG */

.MapaSvg {
  width: 100%;
  height: 130vh;
  z-index: 1;
  position: relative;
  display: grid;
  place-items: center;
  padding: 0 30px;
  overflow: hidden;

  & svg.SVGMAPA {
    width: 80%;
  }
  & section {
    width: fit-content;
    margin-top: 5%;
    & h1,
    & h2 {
      font-family: var(--Playfair);
      font-size: 64px;
      color: var(--verdeBg);
      overflow: hidden;
      line-height: 50px;
      height: 65px;
    }

    & h2 {
      margin-left: 55px;
    }
  }
}

.MapaSvgMovil{
  display: none;
}


/* Media Queries */

@media screen and (min-width: 1201px) and (max-width: 1300px) {
  .banner {
    width: 70%;
  }
  .mainCard .options {
    margin-top: 10%;
  }
  .MapaSvg {
    height: 100vh;
    & section {
      margin-bottom: 5%;
    }
  }
  .MapaSvgMovil{
    display: none;
  }
}

@media screen and (min-width: 601px) and (max-width: 1200px) {
  .titulo {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    gap: 0;
    place-items: center;
  }

  .hero-text {
    font-size: 1.4rem;
    width: 100%;
  }

  .videoHeroMovil {
    display: none;
  }

  .nube {
    background-image: url("/nube-0f6e57.png");
    position: absolute;
    z-index: 9;
    width: 100vw;
    height: 60vh;
  }

  .mouseGifBlanco {
    top: 13%;
  }

  .section1 .banner {
    width: 83.333333%;
  }
}

@media screen and (max-width: 600px) {
  .hero {
    position: relative;
    display: grid;
    place-items: baseline;
    width: 100%;
    height: 80vh;
    z-index: 9;
  }
  .titulo {
    width: 90%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    gap: 0;
    place-items: center;
    margin: auto;
  }

  .hero-text {
    font-size: 1.4rem;
    width: 100%;
  }

  .videoHeroMovil {
    display: block;
    width: 100vw;
    height: 80vh;
    position: absolute;
    object-fit: cover;
    z-index: 1;
  }

  .videoHero {
    display: none;
  }

  .videoColibri {
    display: none;
  }

  .videoColibriMovil {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    background: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
  }

  .mouseGif {
    position: absolute;
    display: block;
    top: 13%;
    width: 70px;
    z-index: 9;
  }

  .mouseGifBlanco {
    display: none;
  }

  /* Section #1 */

  .section1 .banner {
    font-size: 1.5rem;
    margin: 2.5rem;
  }

  .section1,
  .section2 {
    min-height: 55vh;
  }

  .section1 img.personas {
    border-radius: 0 8vw 8vw 8vw !important;
    width: 350px;
    height: auto;
    margin-top: 45%;
    margin-left: 3%;
  }

  .section1 img.hojas_derecha1 {
    width: 100%;
    height: auto;
    right: 0px;
    top: 20%;
    height: auto;
    position: absolute;
  }

  .bloque {
    top: -4%;
  }

  /* Section #2 */

  .section2 small {
    font-size: 40px;
    margin-bottom: 15px;
  }
  .section2 p {
    font-size: 25px;
  }
  .section2 .bloq {
    background-color: #737b1fe1;
    border-radius: 0 8vw 8vw 8vw !important;
    padding: 30px;
    width: 100%;
    height: auto;
    display: grid;
    place-items: center;
    color: #f0e4ba;
    margin: 0;
  }

  .section2 img.hojas_abajo {
    position: absolute;
    bottom: 0;
    width: 150%;
    margin-bottom: -1px;
  }

  /* Section #3 */

  .section3 article {
    padding: 0 15px;
  }

  .section3 h3,
  h2 {
    line-height: 40px;
  }
  .section3 h3,
  p {
    color: #dad9be;
    max-width: 700px;
    font-size: 18px;
  }

  .section3 h3 {
    text-transform: uppercase;
  }

  .section3 h2 {
    font-size: 35px;
    margin-bottom: 20px;
  }

  article {
    margin: 40px 0;
  }

  .section3_1 {
    display: block;
  }

  .section3_1 div {
    width: 100%;
  }

  .section3_1_img img {
    width: 90%;
    height: 278px;
    max-width: 900px;
    border-radius: 0 60px 60px 0;
  }

  .section3_1_div {
    width: 100% !important;
  }

  .section3_2 {
    display: flex;
    flex-direction: column-reverse;
  }

  .section3_2 div {
    width: 100%;
  }

  .section3_2_img img {
    width: 90%;
    margin-left: 10%;
    height: 278px;
    max-width: 900px;
    border-radius: 60px 0 0 60px;
  }

  .section3_2_div {
    width: 100% !important;
  }

  /*  Mapa SVG */

  .MapaSvg{
    display: none;
  }
  
  .MapaSvgMovil {
    display: block;
    width: 100%;
    height: 135vh;
    position: relative;
    z-index: 9999;
    & svg.SVGMAPAMOVIL {
      width: 90%;
      margin: 5% 0 0 5%;
    }
    & section {
      width: fit-content;
      margin: auto;
      margin-top: 30px;
      & h1, & h2 {
          font-family: var(--Playfair);
          font-size: 35px;
          color: var(--verdeBg);
          overflow: hidden;
          line-height: 20px;
          height: 34px;
      }
      & h2 {
        margin-left: 25px;
      }
  }
    & .MapaSvgMovil_hojas_abajo{
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
}
