.container {
    height: 100vh;
    width: 100%;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    position: absolute;
    z-index: 9;
  }
  
  .menu-expanded {
    max-width: 0px;
    background: #30322abd;
    opacity: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease 0s;
    overflow: hidden;
  }
  
  .menu-expanded ul {
    margin: 0;
    list-style: none;
    font-size: 32px;
    text-align: right;
    line-height: 2em;
  }
  
  a {
    text-decoration: none;
    color: #fff;
  }
  
  .hamburguer-menu {
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 15px;
    top: 15px;
  }
  
  .line {
    display: block;
    width: 30px;
    background: #7f880a;
    height: 3px;
    border-radius: 150px;
    margin: 5px 5px;
    transition: all 0.4s ease;
    z-index: 1;
  }
  
  
  .change .first-line {
    transform: rotate(45deg) translate(0px, 0px);
  }
  
  .change .second-line {
    transform: rotate(-45deg) translate(8px, -8px);
  }

  .change .tercer-line {
    display: none;
  }
  
  .change ~ .menu-expanded {
    max-width: 400px;
    width: 400px;
    position: fixed;
    opacity: 1;
  }
  
  @media (max-width: 400px) {
    .menu-expanded {
      width: 100%;
    }
  }
  